.banner{
   height: 60vh;
   display: flex;
   background-position: center;
}

.new-popup{
   display: flex;
   justify-content: center;
   align-items: center;
}


.new{
   font-size: 40px;
   font-weight: 800;
   color: rgb(167, 137, 101);
}


.intro-container{
   height: 20%;
   background-color: rgb(157, 135, 85);
   color: #1c1c1c;
   padding: 10%;
   margin-left: 20;
}

.ads-container{
   width: 100px;
   height: 50px;
   position:fixed;
   top:200px;
   left:10px;
}

.main_content{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   width: 70%;
   height: 100%;
   margin: 50px auto;
   padding: 50px 0 0;
   box-sizing: border-box;
   justify-content: space-between;
   flex-wrap: wrap;
   
}

.card{
   width:30%;
   border-radius: 15px;
   flex-direction: column;
   position: relative;
   transform: scale(.8);
   transition: all .3s ease-in-out;
   margin-bottom: 40px;
}

.card .card_img img{
   width: 100%;
}

.card_header{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: #453b3b;
   margin: 25px 0;
}

h2.card_title{
   font-size: 20px;
   padding: 5%;
   font-weight: bolder;
   color: #453b3b;
}

.card_header p{
   font-size: 20px;
   text-align: center;
   color: rgb(136, 98, 51);
   
}

.card_header .price span{
   font-size: 10px;
   display: inline-block;
   vertical-align: top;
}

.btn-addtocart{
   position: absolute;
   width:fit-content;
   cursor: pointer;
   font-weight: bolder;
   color: rgb(129, 41, 41);
}

.card_header .btn{
   background-color: rgb(240, 235, 225);
}

.card:hover{
   background-color: rgb(240, 235, 225);
   cursor: pointer;
   transform: scale(1)
}

.card:hover .btn{
   background-color: rgb(248, 195, 90);
   font-weight: bolder;
}

.cloth-carousel-container{
    width:100vw;
    background-color: rgb(255, 255, 255);
}

.cloth-poster{
   height: 300px;
   border-radius: 0px;
   overflow: hidden;
   background-color: white;
}

.cloth-poster > img{
   padding: 10%;
   height: 100%;
   width: 100%;
}

.cloth-card-container{
   height: 550px;
   background-color: rgb(255, 255, 255);
}

.cloth-card{
   background-repeat: no-repeat;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-image: linear-gradient(to bottom, rgba(255, 255, 255), rgb(255, 255, 255)), var(--img);
}

.cloth-detail{
   position: absolute;
   top: 200px;
   display: flex;
   justify-content: space-evenly;
   width: 100%;
}

.cloth-title{
   color: rgb(31, 10, 10);
   display: flex;
   align-items: center;
}

.cloth-buttons-container{
   display:flex;
   justify-content: space-between;
   align-items: center;
   width: 300px;

}

.play-button-icon-container{
   padding: 0px;
   margin:0px;
   width: 150px;
}

.play-button-icon{
   padding:0px;
   margin:0px;
   color: rgb(176, 217, 80);
   font-size: 3rem;
   transition: 0.3s;
   cursor: pointer;
}

.play-button-icon:hover{
   font-size: 4rem;
   color: white;
}

@media only screen and (max-width: 800px){
   .cloth-detail{
       flex-direction: column;
       align-items: center;
       top: 20px;
   }

}

.bt2{
    margin-bottom: 10px;
}

.image-stack {
   display: grid;
   position: relative;
   grid-template-columns: repeat(12, 1fr);
 }
 
 .image-stack__item--bottom {
   grid-column: 4 / -1;
   grid-row: 1;
 }
 
 .image-stack__item--top {
   grid-row: 1;
   grid-column: 1 / span 8;
   padding-top: 0%;
   z-index: 1;
 }
 
.row {
   --bs-gutter-x: 2rem;
   --bs-gutter-y: 0;
   display: flex;
   flex-wrap: wrap;
   margin-left: calc(var(--bs-gutter-x)*-.5);
   margin-right: calc(var(--bs-gutter-x)*-.5);
   margin-top: calc(var(--bs-gutter-y)*-1)
}

.row>* {
   flex-shrink: 0;
   margin-top: var(--bs-gutter-y);
   max-width: 100%;
   padding-left: calc(var(--bs-gutter-x)*.5);
   padding-right: calc(var(--bs-gutter-x)*.5);
   width: 100%
}

.display-4 {
   font-weight: 500;
   line-height: 0;
   font-size: 3rem;
   color: rgb(255, 255, 255);
   
}

.mb-8 {
   margin-bottom: 2.5rem !important
}

.py-12 {
   padding-bottom: 6rem !important;
   padding-top: 6rem !important
}

.order-1 {
   order: 1 !important
}

.order-2 {
   order: 2 !important
}

.btn-dark {
   background-color: #1f1f1f;
   border-color: #1f1f1f;
   color: #fff;
}

.btn-dark:focus,
.btn-dark:hover {
   background-color: #1c1c1c;
   border-color: #1c1c1c;
   color: #fff
}

.col-12 {
   flex: 0 0 auto;
   width: 100%
}

.col-md-6 {
   flex: 0 0 auto;
   width: 50%
}

.col-md-8 {
   flex: 0 0 auto;
   width: 66.66667%
}

.col-lg-5 {
   flex: 0 0 auto;
   width: 41.66667%
}

.col-lg-9 {
   flex: 0 0 auto;
   width: 75%
}

.d-none {
   display: none !important
}

.d-md-block {
   display: block !important
}

.position-relative {
   position: relative !important
}

.fe-arrow-right:before {
    content: "\e912"
}

.fe-arrow-right-circle:before {
    content: "\e913"
}

.offset-md-n2 {
   margin-left: -16.66667%
}

.flickity-buttons-bottom-start .flickity-button {
   bottom: 0;
   top: auto;
   transform: none
}

.flickity-buttons-bottom-start .flickity-button.previous {
   left: 0
}

.flickity-buttons-bottom-start .flickity-button.next {
   left: 42px
}

.h-100 {
   height: 100% !important
}

.w-100 {
   width: 100% !important
}

.bg-cover {
   background-position: 50% !important;
   background-repeat: no-repeat !important;
   background-size: cover !important
}

.bg-cover.bg-hover:hover {
   background-position: calc(50% - .75rem) !important
}

