.about p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #663e10;
    font-weight: bolder;
}

.float-container {
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}  

.float-child .right{
    font-size: 25px;
    color:#663e10
}